<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/themeleaf-extras-springsequrity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>basket</title>
</head>
<body>
<h1>Menu</h1>
<ul>
    <li><a href="/">Products</a></li>
    <li sec:authorize="hasRole('PRODUCER')"><a href="/producer">Add new product</a></li>
    <li sec:authorize="hasRole('CONSUMER')"><a href="/basket">Basket</a></li>
    <li sec:authorize="isAnonymous"><a href="/login">log in</a></li>
    <li sec:authorize="isAuthenticated"><a href="/logout">log out</a></li>
</ul>
<h1>Farmer products of your choice</h1>

<div th:each="product: ${products}">
    <a th:text="${product.getName()}"></a>
    <div th:text="${product.getPrice()}"></div>
    <form sec:authorize="hasRole('CONSUMER')" method="POST" th:action="${'/' + product.getId() +  '/basket'}">
        <p><input type="submit" value="Delete from basket"></p></form>
</div>

</body>
</html>