<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/themeleaf-extras-springsequrity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update product</title>
</head>
<body>
<h1>Menu</h1>
<ul>
    <li><a href="/">Products</a></li>
    <li sec:authorize="hasRole('PRODUCER')"><a href="/producer">Add new product</a></li>
    <li sec:authorize="hasRole('CONSUMER')"><a href="/basket">Basket</a></li>
    <li sec:authorize="isAnonymous"><a href="/login">log in</a></li>
    <li sec:authorize="isAuthenticated"><a href="/logout">log out</a></li>
</ul>
<form th:method="POST" th:action="${'/' + product.getId() +  '/edit'}" th:object="${product}">
<p><b>Enter new product name</b><Br>
  <input type="text" th:field="*{name}" id="name" size="40">
</p>
<p><b>Enter new product price </b><Br>
  <input type="double" name="price" size="40">
</p>
<p>Enter new product description<Br>
  <textarea th:field="*{description}" id="description" cols="40" rows="3"></textarea></p>
<p><input type="submit" value="Update">
  <input type="reset" value="Clear"></p>
</form>
</body>
</html>